<div class="home-container">
  <div class="content-container">
    <div class="flex gap-5 justify-content-between">
      <h1>For Dev</h1>
      <div>
        <h3 class="flex flex-column">Welcome</h3>
        <span>www.example.com</span>
      </div>
    </div>
    <form [formGroup]="userSigninForm" (ngSubmit)="signin()">
      <div class="textfield-container gap-4">
        <div class="flex flex-column gap-2">
          <label for="email">Email</label>
          <input pInputText type="text" id="email" formControlName="email" />
        </div>
        <div class="flex flex-column gap-2">
          <label for="password">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="action-container">
        <a>Reset your password?</a>
        <div class="button-content">
          <a class="action-btn" (click)="signin()">Sign in</a>
        </div>
        <span>Don't have an account?<a href="/signup">Sign up now</a></span>
      </div>
    </form>
  </div>
</div>
