<div class="home-container">
  <div class="content-container">
    <div class="flex gap-5 justify-content-between align-items-center">
      <h1>For Dev</h1>
      <div class="flex flex-column">
        <h3>Welcome</h3>
        <span>www.example.com</span>
      </div>
    </div>
    <form [formGroup]="userSignupForm" (ngSubmit)="signup()">
      <div class="textfield-container gap-4">
        <div class="form-field half-width">
          <label class="form-field-label">First Name</label>
          <input
            pInputText
            type="text"
            id="firstName"
            formControlName="firstName"
          />
        </div>
        <div class="form-field half-width">
          <label class="form-field-label">Last Name</label>
          <input
            pInputText
            type="text"
            id="lastName"
            formControlName="lastName"
          />
        </div>
        <div class="form-field">
          <label class="form-field-label">Email</label>
          <input pInputText type="text" id="email" formControlName="email" />
        </div>
        <div class="form-field">
          <label class="form-field-label">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="form-field">
          <label class="form-field-label">Confirm Password</label>
          <input
            pInputText
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
      </div>
      <div class="action-container">
        <a></a>
        <div class="button-content">
          <a class="action-btn" (click)="signup()"
            ><i class="pi pi-user-plus"></i>&nbsp;&nbsp;Sign up</a
          >
        </div>
        <span>Already have an account?<a href="/signin">Sign in</a></span>
      </div>
    </form>
  </div>
</div>
