.container {
  position: relative;
}
::ng-deep .section-divider {
  margin: 0 !important;
}
.assignments-container {
  position: relative;
}
.data-description-container {
  span {
      color: var(--color-gray-600);
  }
}
.dtd-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dtd-list-container {
  display: none;
}
@media screen and (max-width: 720px) {
  .dtd-table-container {
      display: none;
  }

  .dtd-list-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
}
