<div class="home-container">
  <div class="top-content">
    <div>
      <div class="text-5xl text-yellow-600">Washington</div>
      <div class="text-4xl mt-3">16:56</div>
      <div class="text-3xl mt-1">2024.12.10. Tue</div>
    </div>
    <div>
      <div class="text-5xl text-blue-600">Tokyo</div>
      <div class="text-4xl mt-3">16:56</div>
      <div class="text-3xl mt-1">2024.12.10. Tue</div>
    </div>
  </div>
  <div class="form-content">
    <form class="card flex justify-content-center">
      <p-inputOtp [mask]="true" autofocus onChange="login()"/>
    </form>
  </div>
  <div class="bottom-content">
    <div>
      <div class="text-5xl text-pink-600">Washington</div>
      <div class="text-4xl mt-3">16:56</div>
      <div class="text-3xl mt-1">2024.12.10. Tue</div>
    </div>
    <div>
      <div class="text-5xl text-green-600">Washington</div>
      <div class="text-4xl mt-3">16:56</div>
      <div class="text-3xl mt-1">2024.12.10. Tue</div>
    </div>
  </div>
</div>
