<div class="container">
  <div class="calendar-header-container">
    <h1 class="current">ToDo List</h1>
  </div>
  <div class="calendar-container">
    <!-- calendar controls -->
    <div class="controls-container">
      <div class="navigation-controls-container">
        <button
          pButton
          class="p-button-text btn-text"
          icon="pi pi-angle-left"
        ></button>
        <button pButton class="p-button-text btn-text">Today</button>
        <button
          pButton
          class="p-button-text btn-text"
          icon="pi pi-angle-right"
        ></button>
      </div>
      <div class="calendar-title-container">
        <!-- <h3>
          {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
        </h3> -->
      </div>
      <div class="view-controls-container">
        <button
          pButton
          class="btn btn-primary"
          (click)="openAddNewModal()"
        >
          <i class="pi pi-plus"></i>
          Add New
        </button>
      </div>
    </div>

    <!-- calendar content -->
    <!-- <ng-container *ngIf="calendarEvents$ | async as events">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="monthEvent"
          [headerTemplate]="monthHeaderTemplate"
        >
        </mwl-calendar-month-view>
      </div>

      <ng-template #monthHeaderTemplate let-days="days" let-locale="locale">
        <div class="calendar-view-header-container">
          <ng-container *ngFor="let day of days">
            <div class="day-indicator">
              <span class="desktop" [class.weekend]="day.isWeekend">{{
                day.date | date : "EEEE"
              }}</span>
              <span class="mobile" [class.weekend]="day.isWeekend">{{
                day.date | date : "E"
              }}</span>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #monthEvent let-day="day" let-locale="locale">
        <div class="date-number">
          <span> {{ day.date | date : "dd" }}</span>
        </div>

        <ng-container *ngFor="let event of day.events">
          <div
            [pTooltip]="event.title"
          >
            <div
              class="month-event-container"
              [style.background]="event.color.secondary"
              [style.borderColor]="event.color.primary"
              [style.color]="event.color.primary"
            >
              <div
                class="event-dot"
                [style.background]="event.color.primary"
              ></div>
              <div class="event-info mobile">
                <span>{{ event.title.slice(0, 2) }}...</span>
              </div>
              <div class="event-info desktop">
                <span>{{ event.meta.cruiseLine }}</span>
                <ng-container *ngIf="event.meta.dockAssignment"
                  >Dock: {{ event.meta.dockAssignment }}</ng-container
                >
                <span>{{ event.meta.cruiseTime }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ng-container> -->
    <!-- <ng-container *ngIf="(isLoading$ | async) === true">
      <div class="loader-container">
        <div class="loader-inner-container">
          <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </div>
      </div>
    </ng-container> -->
  </div>
</div>
<app-add-todo-list-modal></app-add-todo-list-modal>