// primeng drawer overrides
.itinerary-drawer {
    .p-sidebar-header,
    .p-sidebar-footer {
        display: none !important;
    }
}

.operator-drawer {
    background-color: var(--color-blue-500) !important;
    width: 70% !important;
    .p-sidebar-header,
    .p-sidebar-footer {
        display: none !important;
    }
    .p-sidebar-content {
        padding: 80px 0 !important;
        .nav-options {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-white);
            gap: 15px;
            padding: 10px 20px;
            width: 100%;
            text-decoration: none;

            .icon-container {
                padding: 3px;
                border-radius: 5px;
                background-color: var(--color-blue-500);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                i {
                    transition: all 300ms;
                    color: var(--color-white);
                }
            }

            span {
                font-weight: 500;
            }

            &:hover {
                color: var(--color-blue-500);
                background-color: var(--color-white);
            }

            &.active {
                color: var(--color-blue-500);
                background-color: var(--color-white);
            }
        }
    }
}

// .user-drawer {
//     background-color: var(--color-blue-500) !important;
//     width: 70% !important;
//     .p-sidebar-header,
//     .p-sidebar-footer {
//         display: none !important;
//     }
//     .p-sidebar-content {
//         padding: 80px 0 !important;
//         .nav-options {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             color: var(--color-white);
//             gap: 15px;
//             padding: 10px 20px;
//             width: 100%;
//             text-decoration: none;

//             .icon-container {
//                 padding: 3px;
//                 border-radius: 5px;
//                 background-color: var(--color-blue-500);
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 i {
//                     height: 30px;
//                     width: 30px;
//                     transition: all 300ms;
//                     color: var(--color-white);
//                 }
//             }

//             span {
//                 font-weight: 500;
//                 opacity: 0;
//             }

//             &:hover {
//                 background-color: var(--color-white);
//             }

//             &.active {
//                 background-color: var(--color-white);
//             }
//         }
//     }
// }
