<ng-container
  *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
    } as data"
>
  <p-dialog
    [(visible)]="data.isOpen"
    (onHide)="close()"
    [modal]="true"
    [style]="{ width: '60vw', height: 'auto' }"
    styleClass="add-tour-itinerary-modal"
    [breakpoints]="{ '700px': '100vw' }"
    [showHeader]="false"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    appendTo="body"
  >
    <div class="modal-inner-container">
      <div class="modal-header">
        <h2>Add To Do List</h2>
      </div>
      <p-divider></p-divider>
      <form class="modal-body" [formGroup]="addNewToDoListForm">
        <div class="form-container">
          <div class="form-field full-width">
            <label for="title">Title</label>
            <input pInputText formControlName="title" />
          </div>
          <div class="form-field full-width">
            <label for="description">Description</label>
            <textarea
              rows="5"
              pInputTextarea
              formControlName="description"
            ></textarea>
          </div>
          <div class="form-field third-width">
            <label for="transportation">Date</label>
            <div class="p-element p-inputgroup">
              <p-calendar
                id="date"
                dateFormat="mm/dd/yy"
                placeholder="Select Dates"
                formControlName="date"
                appendTo="body"
                [showIcon]="true"
                styleClass="calendar-icon"
              >
              </p-calendar>
            </div>
          </div>
          <div class="form-field third-width">
            <label for="fromTime">From Time</label>
            <div class="two-inputs">
              <div>
                <p-iconField iconPosition="right">
                  <p-inputIcon> h </p-inputIcon>
                  <input type="text" pInputText formControlName="fromHours" />
                </p-iconField>
              </div>
              <div>
                <p-iconField iconPosition="right">
                  <p-inputIcon> min </p-inputIcon>
                  <input type="text" pInputText formControlName="fromMinutes" />
                </p-iconField>
              </div>
            </div>
          </div>
          <div class="form-field third-width">
            <label for="toTime">To Time</label>
            <div class="two-inputs">
              <div>
                <p-iconField iconPosition="right">
                  <p-inputIcon> h </p-inputIcon>
                  <input type="text" pInputText formControlName="toHours" />
                </p-iconField>
              </div>
              <div>
                <p-iconField iconPosition="right">
                  <p-inputIcon> min </p-inputIcon>
                  <input type="text" pInputText formControlName="toMinutes" />
                </p-iconField>
              </div>
            </div>
          </div>
          <div class="form-field half-width">
            <label for="toTime">State</label>
            <p-dropdown
              id="certification"
              name="certification"
              formControlName="certificationType"
              autocomplete="off"
              optionLabel="qualificationName"
              placeholder="Select Qualification"
              [autoDisplayFirst]="false"
              [showClear]="true"
            ></p-dropdown>
          </div>
          <div class="form-field half-width">
            <label for="toTime">Urgent</label>
            <p-dropdown
              id="certification"
              name="certification"
              formControlName="certificationType"
              autocomplete="off"
              optionLabel="qualificationName"
              placeholder="Select Qualification"
              [autoDisplayFirst]="false"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>
        <div class="btn-container">
          <ng-container *ngIf="data.status === 'error'">
            <div>
              <span class="text-error">Failed to save tour itinerary</span>
            </div>
          </ng-container>

          <button
            pButton
            class="btn btn-primary"
            class="btn btn-primary-inverse"
            [disabled]="data.status === 'loading'"
            (click)="close()"
          >
            Cancel
          </button>
          <button
            pButton
            class="btn btn-primary"
            (click)="addNewTourItinerary()"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </p-dialog>
</ng-container>
